{% extends 'base.html.twig' %}

{% import _self as adIndex %}

{% macro alertWhenFalse(field, classes) %}
    {% if field %}
        <td class="{{ classes }}">Y</td>
    {% else %}
        <td class="alert {{ classes }}">n</td>
    {% endif %}
{% endmacro %}

{% block title %}Ads | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ads list</h1>

    {{ render(controller('DinnerBundle:Report:totals')) }}

    <nav>
        <div><a href="{{ path('ad_new') }}">Create a new ad</a></div>
    </nav>

    <table class="index">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Owner(s)</th>
            <th>Copy</th>
            <th>Sent to printer</th>
            <th>Proof rec'd</th>
            <th>Proof app'd</th>
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>
                    <a href="{{ path('ad_edit', { 'id': ad.id }) }}">{{ ad.typeAccession }}</a>
                </td>
                <td>{{ ad.adType }}</td>
                <td>{{ ad.guestString }}</td>
                <td>{{ ad.copy | truncate(50) }}</td>


                {{ adIndex.alertWhenFalse(ad.sentToPrinter) }}
                {{ adIndex.alertWhenFalse(ad.proofFromPrinter) }}
                {{ adIndex.alertWhenFalse(ad.proofApproved) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <div><a href="{{ path('ad_new') }}">Create a new ad</a></div>
    </nav>
{% endblock %}
