{% extends 'base.html.twig' %}

{% block homelink %}{% endblock %}

{% block body %}
    <h1>PTI Dinner Accounting Home</h1>

    {{ render(controller('DinnerBundle:Report:totals')) }}

    <nav>
        <section>
            <ul>
                <li>
                    <a href="{{ path('guest_index') }}">show guest list</a>
                </li>
                <li><a href="{{ path('ad_index') }}">show ads</a></li>
            </ul>
        </section>

        <section>
            <h2>Reports</h2>

            <ul>
                <li><a href="{{ path('report_needing_rebbetzin_changes') }}">Ads needing Rebbetzin changes</a></li>
                <li><a href="{{ path('report_past_donor_no_pledge') }}">Past donor with no current pledge</a></li>
                <li><a href="{{ path('report_pledged') }}">All pledges</a></li>
                <li><a href="{{ path('report_pledged_not_paid') }}">Pledged and not paid</a></li>
                <li><a href="{{ path('report_seated') }}">Seated</a></li>
            </ul>
        </section>
    </nav>
{% endblock %}
