<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}PTI Dinner Accounting{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter="scssphp" "scss/*.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <link
            href="https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:400,700&amp;subset=hebrew"
            rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block homelink %}
    <nav>
        <a href="{{ path('home') }}">Home</a>
    </nav>
{% endblock %}

{% block logoutlink %}
    <nav class="logout">
        <a href="{{ path('fos_user_security_logout') }}">logout</a>
    </nav>
{% endblock %}

{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts '@DinnerBundle/Resources/public/js/moment.js'
                   '@DinnerBundle/Resources/public/js/base.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
