{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ads list</h1>

    <nav>
        <div><a href="{{ path('ad_new') }}">Create a new ad</a></div>
    </nav>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Owner(s)</th>
                <th>Copy</th>
                <th>Sent to printer</th>
                <th>Proof rec'd</th>
                <th>Proof app'd</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_edit', { 'id': ad.id }) }}">{{ ad.typeAccession }}</a></td>
                <td>{{ ad.adType }}</td>
                <td>{{ ad.guestString }}</td>
                <td>{{ ad.copy | truncate(25) }}</td>
                <td>{% if ad.sentToPrinter %}Y{% else %}n{% endif %}</td>
                <td>{% if ad.proofFromPrinter %}Y{% else %}n{% endif %}</td>
                <td>{% if ad.proofApproved %}Y{% else %}n{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <div><a href="{{ path('ad_new') }}">Create a new ad</a></div>
    </nav>
{% endblock %}
