{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad creation</h1>

    <section class="ad-form">
        {{ form_start(form) }}

        {{ form_row(form.adType) }}
        {{ form_row(form.copy) }}
        {{ form_row(form.note) }}
        {{ form_row(form.sentToPrinter) }}
        {{ form_row(form.proofFromPrinter) }}
        {{ form_row(form.proofApproved) }}
        {{ form_row(form.guests) }}

        <div>
            <div class="label">&nbsp;</div>
            <div>
                <input type="submit" value="Create"/>
            </div>
        </div>

        {{ form_end(form) }}

        <div>
            <div class="label">&nbsp;</div>
            <div>
                <nav class="form-controls">
                    <a href="{{ path('ad_index') }}">Cancel</a>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
