{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Copy</th>
                <td>{{ ad.copy }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ ad.note }}</td>
            </tr>
            <tr>
                <th>Gueststring</th>
                <td>{{ ad.guestString }}</td>
            </tr>
            <tr>
                <th>Typeaccession</th>
                <td>{{ ad.typeAccession }}</td>
            </tr>
            <tr>
                <th>Senttoprinter</th>
                <td>{% if ad.sentToPrinter %}{{ ad.sentToPrinter|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prooffromprinter</th>
                <td>{% if ad.proofFromPrinter %}{{ ad.proofFromPrinter|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proofapproved</th>
                <td>{% if ad.proofApproved %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
