{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guests list</h1>

    <nav>
        <div><a href="{{ path('guest_new') }}">Create a new guest</a></div>
    </nav>

    <table>
        <thead>
            <tr>
                <th>Family</th>
                <th>Him
                <th>Her</th>
                <th>Do not call
                <th>City</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>Pledged</th>
                <th>Paid</th>
                <th>Balance</th>
                <th>Seats</th>
                <th>Affiliation</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td><a href="{{ path('guest_edit', { 'id': guest.id }) }}">{{ guest.familyName }}</a></td>
                <td>{{ guest.hisName }}</td>
                <td>{{ guest.herName }}</td>
                <td>{% if guest.doNotCall %}NOT{% endif %}</td>
                <td>{{ guest.city }}</td>
                <td>{{ guest.phone }}</td>
                <td>{{ guest.mobile }}</td>
                <td>{{ guest.pledge2013 }}</td>
                <td>{{ guest.pledge2014 }}</td>
                <td>{{ guest.pledge2015 }}</td>
                <td>{{ guest.pledge2016 }}</td>
                <td>{{ guest.paid }}</td>
                <td>{{ guest.balance }}</td>
                <td>{{ guest.totalSeats }}</td>
                <td>{{ guest.honoreeString }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <div><a href="{{ path('guest_new') }}">Create a new guest</a></div>
    </nav>
{% endblock %}
