{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>Ykpid</th>
                <td>{{ guest.ykpId }}</td>
            </tr>
            <tr>
                <th>Familyname</th>
                <td>{{ guest.familyName }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ guest.title }}</td>
            </tr>
            <tr>
                <th>Hername</th>
                <td>{{ guest.herName }}</td>
            </tr>
            <tr>
                <th>Hisname</th>
                <td>{{ guest.hisName }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ guest.note }}</td>
            </tr>
            <tr>
                <th>Pledge2013</th>
                <td>{{ guest.pledge2013 }}</td>
            </tr>
            <tr>
                <th>Pledge2014</th>
                <td>{{ guest.pledge2014 }}</td>
            </tr>
            <tr>
                <th>Pledge2015</th>
                <td>{{ guest.pledge2015 }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ guest.paid }}</td>
            </tr>
            <tr>
                <th>Streetaddress</th>
                <td>{{ guest.streetAddress }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ guest.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ guest.state }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ guest.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ guest.country }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ guest.phone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ guest.mobile }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ guest.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ guest.email }}</td>
            </tr>
            <tr>
                <th>Referredby</th>
                <td>{{ guest.referredBy }}</td>
            </tr>
            <tr>
                <th>Paidseats</th>
                <td>{{ guest.paidSeats }}</td>
            </tr>
            <tr>
                <th>Compseats</th>
                <td>{{ guest.compSeats }}</td>
            </tr>
            <tr>
                <th>Previousadcopy</th>
                <td>{{ guest.previousAdCopy }}</td>
            </tr>
            <tr>
                <th>Previousadtypes</th>
                <td>{{ guest.previousAdTypes }}</td>
            </tr>
            <tr>
                <th>Isbusiness</th>
                <td>{% if guest.isBusiness %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Donotcall</th>
                <td>{% if guest.doNotCall %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guest_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('guest_edit', { 'id': guest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
