{% extends 'base.html.twig' %}

{% block title %}Ads needing Rebbetzin changes | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ads needing Rebbetzin changes</h1>

    <table class="index">
        <thead>
        <tr>
            <th>ID</th>
            <th>Family</th>
            <th>Copy</th>
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_edit', { 'id': ad.id }) }}">{{ ad.typeAccession }}</a></td>
                <td>{{ ad.guestString }}</td>
                <td>{{ ad.copy }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <div><a href="{{ path('guest_new') }}">Create a new guest</a></div>
    </nav>
{% endblock %}
