<table class="summary">
    <tr>
        <th>Total pledges</th>
        <td class="numeric">{{ totals.pledgeCurrent }}</td>
    </tr>
    <tr>
        <th>Total paid</th>
        <td class="numeric">{{ totals.paid }}</td>
    </tr>
    <tr>
        <th>Balance</th>
        <td class="numeric">{{ totals.balance }}</td>
    </tr>
    <tr>
        <th>Total seats</th>
        <td class="numeric">{{ totals.totalSeats }}</td>
    </tr>
    <tr>
        <th>Paid seats</th>
        <td class="numeric">{{ totals.paidSeats }}</td>
    </tr>
</table>
