{% extends 'base.html.twig' %}

{% import '@Dinner/Common/numeric.html.twig' as numeric %}

{% block title %}Guests | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Guests list</h1>

    {{ render(controller('DinnerBundle:Report:totals')) }}

    {% if is_granted('ROLE_EDITING') %}
        <nav>
            <div><a href="{{ path('guest_new') }}">Create a new guest</a></div>
        </nav>
    {% endif %}

    <table class="index">
        <thead>
            <tr>
                <th>Family</th>
                <th>Him</th>
                <th>Her</th>
                <th>Do not call</th>
                <th>City</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>2016</th>
                <th>2017</th>
                <th>Pledged</th>
                <th>Paid</th>
                <th>Balance</th>
                <th>Seats</th>
                <th>Affiliation</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                {{ include('DinnerBundle::Common/family_name_link.html.twig', { guest: guest }) }}
                <td>{{ guest.hisName }}</td>
                <td>{{ guest.herName }}</td>
                <td>{% if guest.doNotCall %}NOT{% endif %}</td>
                <td>{{ guest.city }}</td>
                <td class="phone">{{ guest.phone }}</td>
                <td class="phone">{{ guest.mobile }}</td>
                <td class="numeric">{{ numeric.currency(guest.pledge2016) }}</td>

                {% if guest.pledgeIsLow %}
                    <td class="numeric alert">{{ numeric.currency(guest.pledgePrevious) }} </td>
                {% else %}
                    <td class="numeric">{{ numeric.currency(guest.pledgePrevious) }} </td>
                {% endif %}

                {% if guest.pledgeIsLow or not guest.pledgeIsPaid %}
                    <td class="numeric alert">{{ numeric.currency(guest.pledgeCurrent) }} </td>
                {% else %}
                    <td class="numeric">{{ numeric.currency(guest.pledgeCurrent) }} </td>
                {% endif %}

                <td class="numeric">{{ numeric.currency(guest.paid) }} </td>

                {% if not guest.pledgeIsPaid %}
                    <td class="numeric alert">{{ numeric.currency(guest.balance) }} </td>
                {% else %}
                    <td class="numeric">{{ numeric.currency(guest.balance) }} </td>
                {% endif %}

                <td class="numeric">{{ guest.totalSeats }}</td>
                <td>{{ guest.honoreeString }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <div><a href="{{ path('guest_new') }}">Create a new guest</a></div>
    </nav>
{% endblock %}
